<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.donationtracker"
    xmlns:tools="http://schemas.android.com/tools">

    <meta-data
        tools:replace="android:value"
        android:name="android.support.VERSION"
        android:value="26.1.0" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Donation Tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.gatech.cs2340.donationtracker.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.gatech.cs2340.donationtracker.LoginActivity" />
        <activity android:name="edu.gatech.cs2340.donationtracker.MainActivity" />
        <activity android:name="edu.gatech.cs2340.donationtracker.RegistrationActivity" />
        <activity android:name="edu.gatech.cs2340.donationtracker.LocationDetailActivity" />
        <activity android:name="edu.gatech.cs2340.donationtracker.ItemDetailActivity" />
        <activity android:name="edu.gatech.cs2340.donationtracker.AddItemActivity" />
        <activity
            android:name="edu.gatech.cs2340.donationtracker.ItemScroller"
            android:label="@string/title_activity_item_scroller"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>